{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Doit {% endblock %}</title>	
    <link rel="stylesheet" type="text/css" href="{% static 'todos/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'todos/css/style.css' %}" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Doit</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container">
    	<div class="ui-wall">
    	{% spaceless %}
        {% block content %}{% endblock %}
        {% endspaceless %}
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'todos/js/bootstrap.min.js' %}"></script>
</body>
</html>